* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

ul {
  list-style: none; }

.cab {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.navbar a {
  color: #ffa500; }

.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px; }

.grid_container {
  text-align: center; }

.prod__bebidas__cervezas {
  grid-area: cervezas;
  padding-top: 2rem;
  text-align: center; }

.prod__bebidas__grid {
  display: grid;
  margin: 8%;
  grid-template-columns: repeat(4, 1fr); }

/* Footer */
.footer {
  grid-area: footer;
  width: 100%;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footer img {
    cursor: pointer; }

.footer__contacto--linkarriba {
  text-decoration: none;
  color: orange; }
  .footer__contacto--linkarriba:hover {
    background-color: black;
    color: white;
    border-radius: 5px; }

@media screen and (max-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-areas: "titulo titulo" "header header" "imagen imagen" "texto texto" "footer footer"; } }

@media screen and (max-width: 880px) {
  .prod__bebidas__flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; } }

/* Variables */
.body {
  min-height: 100%; }

.grid__container {
  display: grid;
  grid-template-areas: "titulo titulo" "header header" "principal principal" "footer footer"; }

/* Pagina Principal */
.bg {
  background-image: url("../assets/stockamarillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y; }

.titulo {
  grid-area: titulo;
  background-color: #272626;
  color: orange;
  margin-bottom: -0.2cm;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

.principal {
  grid-area: principal; }

.seccion1 {
  grid-area: imagen; }

.seccion2 {
  grid-area: texto;
  height: 10cm;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

/* Pagina Sobre Nosotros */
.info {
  background-image: url("../assets/stockamarillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y; }

.info--derecha {
  text-align: right; }

/* Pagina Locales */
.mapa {
  background-image: url("../assets/stockamarillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  text-align: center; }

/* Pagina Contacto */
.formulario {
  background-image: url("../assets/stockamarillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  padding-top: 1cm; }

.formulario__campo {
  border: 10px solid #ff9900; }
  .formulario__campo p {
    text-transform: uppercase;
    font-weight: bold; }
