* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

ul {
  list-style: none; }

ol {
  list-style: none; }

.cabIndex {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabContacto {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabDE {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabProductos {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.navbar a {
  color: #ffa500; }

.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px; }

/* Pagina Principal */
.titulo {
  grid-area: titulo;
  background-color: #272626;
  color: orange;
  margin-bottom: -0.2cm;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

.main_index {
  text-align: center; }

.principal {
  grid-area: principal;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  margin-bottom: -20%;
  margin-left: 26%;
  animation: glow 2500ms linear infinite 2000ms; }

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #3a3737; } }

.seccion1 {
  height: 20cm;
  text-align: center;
  line-height: 5rem;
  width: 100%; }

.listaproductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.carousel {
  margin-left: 30%;
  margin-right: 15%;
  width: 130%;
  margin-bottom: 5%;
  padding-right: 40%; }

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none; }

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

ul.slides input {
  display: none; }

.slide-container {
  display: block; }

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out; }

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%; }

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff; }

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer; }

.slide-image:hover + .carousel-controls label {
  opacity: 0.5; }

.carousel-controls label:hover {
  opacity: 1; }

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0; }

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0; }

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center; }

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px; }

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out; }

input:checked + .slide-container .carousel-controls label {
  display: block; }

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1; }

input:checked + .slide-container .nav label {
  display: block; }

.grid_container {
  text-align: center; }

.prod__bebidas__cervezas {
  grid-area: cervezas;
  padding-top: 2rem;
  text-align: center; }

.prod__bebidas__grid {
  display: grid;
  margin: 8%;
  grid-template-columns: repeat(4, 1fr); }

.card {
  border: 5px solid #3b3b3b;
  box-shadow: 12px 12px 8px 4px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 12px 12px 8px 4px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 12px 12px 8px 4px rgba(0, 0, 0, 0.58); }

/* Pagina Donde Encontrarnos */
.main__dondeencontrarnos {
  display: grid;
  grid-template-areas: "texto mapa" "imag imag"; }

.texto__mapa {
  grid-area: texto;
  text-align: center;
  font-style: italic;
  margin-top: 21%;
  padding-top: 12%;
  line-height: 5rem;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms; }

@keyframes reveal {
  80% {
    letter-spacing: 1px; }
  100% {
    background-size: 300% 300%; } }

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #3a3737; } }

.mapa {
  grid-area: mapa;
  margin-top: 18%; }

.galeria {
  grid-area: imag;
  background: #272626;
  background: radial-gradient(circle, #272626 80%, #322102 100%, orange 100%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 11%;
  border-radius: 25px;
  padding-top: 20px;
  padding-right: 6%; }

.galeria__item {
  margin: 5px;
  width: 180px; }

/* Pagina Contacto */
.formulario {
  max-width: 420px;
  margin: 0px auto;
  padding-top: 5cm; }

.feedback-input {
  color: #272626;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #e49a10;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0; }

.feedback-input:focus {
  border: 5px solid #db8504; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical; }

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #272626;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700; }

[type="submit"]:hover {
  background: #e49502; }

/* Footer */
.footerIndex {
  grid-area: footer;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerIndex img {
    cursor: pointer; }

.footerDE {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerDE img {
    cursor: pointer; }

.footerProductos {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerProductos img {
    cursor: pointer; }

.footerContacto {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }

@media screen and (max-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-areas: "titulo titulo" "header header" "imagen imagen" "texto texto" "footer footer"; } }

@media screen and (max-width: 880px) {
  .cabProductos {
    width: 100%; }
  .prod__bebidas__flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .main__dondeencontrarnos {
    display: grid;
    grid-template-areas: "texto texto" "mapa mapa" "imag imag"; }
  .galeria {
    margin-bottom: 25%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 100%; }
  .texto__mapa {
    margin-top: -20%;
    margin-right: 20%;
    font-size: 15px; }
  .prod__bebidas__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 1060px) {
  .texto__mapa {
    margin-top: 35%; } }

@media screen and (min-width: 100px) and (max-width: 420px) {
  .cabIndex {
    width: 71%; }
  .carousel {
    opacity: 0; }
  .cabProductos {
    width: 100%; }
  .prod__bebidas__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .cabDE {
    width: 56%; }
  .texto__mapa {
    font-size: 15px;
    font-size-adjust: 0.3;
    padding-left: 10%;
    width: 50%;
    line-height: 1rem; }
  .galeria {
    margin-bottom: 25%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding-left: -80%;
    margin-left: -15%; }
  .footerIndex {
    width: 72%; }
  .footerDE {
    width: 59%; }
  .footerProductos {
    width: 100%; } }

@media screen and (max-width: 915px) {
  .carousel {
    margin-top: -23vh;
    margin-left: 20%; }
  .cabIndex {
    width: 85%; }
  .footerIndex {
    position: fixed;
    bottom: 0;
    width: 89%; }
  .principal {
    margin-top: 20%;
    margin-bottom: -10%;
    margin-left: 15%; } }

/* Variables */
.body {
  min-height: 100%; }

.grid__container {
  display: grid;
  grid-template-areas: "titulo titulo" "header header" "principal principal" "car car" "footer footer"; }

.bg {
  background-image: url("../assets/stockamarillopolygon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y; }
