* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

ul {
  list-style: none; }

.cabIndex {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabContacto {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabDE {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.cabProductos {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%, orange 100%); }

.navbar a {
  color: #ffa500; }

.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px; }

.grid_container {
  text-align: center; }

.prod__bebidas__cervezas {
  grid-area: cervezas;
  padding-top: 2rem;
  text-align: center; }

.prod__bebidas__grid {
  display: grid;
  margin: 8%;
  grid-template-columns: repeat(4, 1fr); }

/* Pagina Donde Encontrarnos */
.main__dondeencontrarnos {
  display: grid;
  grid-template-areas: "texto mapa" "imag imag"; }

.texto__mapa {
  grid-area: texto;
  text-align: center;
  font-style: italic;
  margin-top: 21%;
  padding-top: 12%;
  line-height: 5rem;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms; }

@keyframes reveal {
  80% {
    letter-spacing: 1px; }
  100% {
    background-size: 300% 300%; } }

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #3a3737; } }

.mapa {
  grid-area: mapa;
  margin-top: 18%; }

.galeria {
  grid-area: imag;
  background: #272626;
  background: radial-gradient(circle, #272626 80%, #322102 100%, orange 100%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 11%;
  border-radius: 25px;
  padding-top: 20px;
  padding-right: 6%; }

.galeria__item {
  margin: 5px;
  width: 180px; }

/* Footer */
.footerIndex {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerIndex img {
    cursor: pointer; }

.footerDE {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerDE img {
    cursor: pointer; }

.footerProductos {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }
  .footerProductos img {
    cursor: pointer; }

.footerContacto {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #272626 63%, #734b04 96%);
  color: orange; }

@media screen and (max-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-areas: "titulo titulo" "header header" "imagen imagen" "texto texto" "footer footer"; } }

@media screen and (max-width: 880px) {
  .cabProductos {
    width: 84%; }
  .prod__bebidas__flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .main__dondeencontrarnos {
    display: grid;
    grid-template-areas: "texto texto" "mapa mapa" "imag imag"; }
  .galeria {
    margin-bottom: 25%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 100%; }
  .texto__mapa {
    margin-top: -20%;
    margin-right: 20%;
    font-size: 15px; } }

@media screen and (max-width: 1060px) {
  .texto__mapa {
    margin-top: 35%; } }

@media screen and (min-width: 100px) and (max-width: 420px) {
  .cabIndex {
    width: 71%; }
  .cabProductos {
    width: 33%; }
  .cabDE {
    width: 56%; }
  .texto__mapa {
    font-size: 15px;
    font-size-adjust: 0.3;
    padding-left: 10%;
    width: 50%;
    line-height: 1rem; }
  .galeria {
    margin-bottom: 25%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding-left: -80%;
    margin-left: -15%; }
  .footerIndex {
    width: 72%; }
  .footerDE {
    width: 59%; }
  .footerProductos {
    width: 35%; } }

/* Variables */
.body {
  min-height: 100%; }

.grid__container {
  display: grid;
  grid-template-areas: "titulo titulo" "header header" "principal principal" "footer footer"; }

/* Pagina Principal */
.bg {
  background-image: url("../assets/stockamarillopolygon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y; }

.titulo {
  grid-area: titulo;
  background-color: #272626;
  color: orange;
  margin-bottom: -0.2cm;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

.principal {
  grid-area: principal; }

.seccion1 {
  grid-area: imagen; }

.seccion2 {
  grid-area: texto;
  height: 10cm;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

/* Pagina Contacto */
.formulario {
  background-image: url("../assets/stockamarillopolygon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  padding-top: 1cm; }

.formulario__campo {
  border: 10px solid #ff9900; }
  .formulario__campo p {
    text-transform: uppercase;
    font-weight: bold; }
