/* Footer */

.footerIndex {
    grid-area: footer;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(39, 38, 38, 1) 63%, rgba(115, 75, 4, 1) 96%);
    color: orange;
    img {
        cursor: pointer;
    }
}

.footerDE {
    grid-area: footer;
    position:fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(39, 38, 38, 1) 63%, rgba(115, 75, 4, 1) 96%);
    color: orange;
    img {
        cursor: pointer;
    }
}

.footerProductos {
    grid-area: footer;
    position:fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(39, 38, 38, 1) 63%, rgba(115, 75, 4, 1) 96%);
    color: orange;
    img {
        cursor: pointer;
    }
}

.footerContacto {
    grid-area: footer;
    position:fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(39, 38, 38, 1) 63%, rgba(115, 75, 4, 1) 96%);
    color: orange;
}

