/* Footer */

.footer {
    grid-area: footer;
    width: 100%;
    background: linear-gradient(180deg, rgba(39, 38, 38, 1) 63%, rgba(115, 75, 4, 1) 96%);
    color: orange;
    img {
        cursor: pointer;
    }
}

.footer__contacto--linkarriba {
    text-decoration: none;
    color: orange;
    &:hover {
        background-color: black;
        color: white;
        border-radius: 5px;
    }
}
