@media screen and (max-width: 768px) {
    .grid__container {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "header header"
        "imagen imagen"
        "texto texto"
        "footer footer";
    }
}

@media screen and (max-width: 880px) {

    .cabProductos{
        width:84%;
    }

    .prod__bebidas__flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main__dondeencontrarnos{
        display: grid;
        grid-template-areas: 
        "texto texto"
        "mapa mapa"
        "imag imag";
    }

    .galeria{
        margin-bottom:25%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-left: 100%;
    }

    .texto__mapa{
        margin-top:-20%;
        margin-right:20%;
        font-size: 15px;
    }

}

@media screen and (max-width: 1060px){
    .texto__mapa{
        margin-top:35%;
    }
}

@media screen and (min-width:100px) and (max-width:420px){

    .cabIndex{
        width:71%;
    }

    .cabProductos{
        width:33%;
    }

    .cabDE{
        width:56%;
    }

    .texto__mapa{
        font-size: 15px;
        font-size-adjust: 0.3;
        padding-left:10%;
        width:50%;
        line-height:1rem;
    }

    .galeria{
        margin-bottom:25%;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        padding-left:-80%;
        margin-left:-15%;
    }

    .footerIndex{
        width:72%;
    }

    .footerDE{
        width:59%;
    }

    .footerProductos{
        width:35%;
    }
}