
.prod__bebidas__cervezas {
    padding-top: 2rem;
    text-align: center;
}

.prod__bebidas__flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.prod__comestibles {
    padding-top: 2cm;
}

