@import "reset";
@import "header";
@import "index";
@import "productos";
@import "mapa";
@import"contacto";
@import "footer";
@import "mediaqueries";



/* Variables */

$imagenprincipal: "../assets/stockamarillopolygon.jpg";

@mixin fondo {
    background-image: url($imagenprincipal);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}

.body {
    min-height: 100%;
}

.grid__container {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "header header"
        "principal principal"
        "car car"
        "footer footer";
}

.bg {
    @include fondo;
}