@import "reset";

.body {
    min-height: 100%;
}

.grid__container {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "header header"
    "imagen texto"
    "footer footer";
}

/* Header */

@import "header";

/* Pagina Principal */

.bg {
    background-image: url(../assets/stockamarillo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}

.seccion1 {
    grid-area: imagen;
}

.seccion2 {
    grid-area: texto;
    height: 10cm;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* Pagina Sobre Nosotros */

.info {
    background-image: url(../assets/stockamarillo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info--derecha {
    text-align: right;
}

/*  Pagina Productos */

@import "productos";

/* Pagina Locales */

.mapa {
    background-image: url(../assets/stockamarillo.jpg);
    text-align: center;
}

/* Pagina Contacto */

.formulario {
    background-image: url(../assets/stockamarillo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1cm;
}

.formulario__campo {
    border: 10px solid rgb(255, 153, 0);
    p {
        text-transform: uppercase;
        font-weight: bold;
    }
}

/* Footer */

.footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(270deg, rgba(39, 38, 38, 1) 69%, rgba(50, 33, 2, 1) 100%, rgba(255, 165, 0, 1) 100%);
    color: orange;
    img {
        cursor: pointer;
    }
}

.footer__contacto--linkarriba {
    text-decoration: none;
    color: orange;
    &:hover {
        background-color: black;
        color: white;
        border-radius: 5px;
    }
}

/* Media queries */

@media screen and (max-width: 768px) {
    .grid__container {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "header header"
        "imagen imagen"
        "texto texto"
        "footer footer";
    }
}



@media screen and (max-width: 880px) {
    .prod__bebidas__flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}