@import "reset";
@import "header";
@import "productos";
@import "footer";
@import "mediaqueries";


/* Variables */

$imagenprincipal: "../assets/stockamarillo.jpg";

@mixin fondo{
    background-image: url($imagenprincipal);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}

.body {
    min-height: 100%;
}

.grid__container {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "header header"
    "imagen texto"
    "footer footer";
}

/* Pagina Principal */

.bg {
   @include fondo;
}

.seccion1 {
    grid-area: imagen;
}

.seccion2 {
    grid-area: texto;
    height: 10cm;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* Pagina Sobre Nosotros */

.info {
 @include fondo;
}

.info--derecha {
    text-align: right;
}


/* Pagina Locales */

.mapa {
    @include fondo;
    text-align: center;
}

/* Pagina Contacto */

.formulario {
    @include fondo;
    padding-top: 1cm;
}

.formulario__campo {
    border: 10px solid rgb(255, 153, 0);
    p {
        text-transform: uppercase;
        font-weight: bold;
    }
}


