<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Este es el sitio web del almacen de bebidas Labulne,donde se encuentran todos sus productos">
  <meta name="keywords" content="BEBIDAS, VINO, CERVEZA, ALMACEN, TUCUMAN, ARGENTINA">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <title>Labulne-Cervezas</title>
</head>

<body class="bg">

  <header class="cab" id="head">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/logo1.png" alt="logo_negocio" width="100" height="80"
            class="cab__nav__menu__imagen" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sobre_nosotros.html">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cervezas.html">Cervezas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./destilados.html">Destilados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
          </ul>
          <form class="d-flex search_bar" role="search">
            <input class="form-control mx-1" type="search" placeholder="Busca un producto" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- Inicio de la lista de bebidas -->
    <aside class="filtros">
      <div>color
        <ul>
          <li></li>
        </ul>
      </div>marca
      <div>
        <ul>
          <li></li>
        </ul>
      </div>
      <div>origen
        <ul>
          <li></li>
        </ul>
      </div>
    </aside>

      <section class="prod__bebidas">
        <article class="prod__bebidas__cervezas">
          <h3>Cervezas</h3>
          <div class="prod__bebidas__flex">
            <div class="card text-bg-dark mb- border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/quilmes_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Quilmes</h5>
                <p class="card-text">Precio: $100</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/heineken_lata.png" class="card-img-top" alt="..." height="290">
              <div class="card-body">
                <h5 class="card-title">Lata Heineken</h5>
                <p class="card-text">Precio: $200</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/schneider_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata schneider</h5>
                <p class="card-text">Precio: $300</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/imperial_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Imperial</h5>
                <p class="card-text">Precio: $400</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            
            <div class="card text-bg-dark mb- border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/cerveza-quilmes-red.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Quilmes</h5>
                <p class="card-text">Precio: $100</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/andes_rubia.png" class="card-img-top" alt="..." height="290">
              <div class="card-body">
                <h5 class="card-title">Lata Heineken</h5>
                <p class="card-text">Precio: $200</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/schneider_lata_roja.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata schneider</h5>
                <p class="card-text">Precio: $300</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/andes_roja.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Imperial</h5>
                <p class="card-text">Precio: $400</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb- border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/quilmes_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Quilmes</h5>
                <p class="card-text">Precio: $100</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/heineken_lata.png" class="card-img-top" alt="..." height="290">
              <div class="card-body">
                <h5 class="card-title">Lata Heineken</h5>
                <p class="card-text">Precio: $200</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/schneider_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata schneider</h5>
                <p class="card-text">Precio: $300</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/imperial_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Imperial</h5>
                <p class="card-text">Precio: $400</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb- border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/quilmes_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Quilmes</h5>
                <p class="card-text">Precio: $100</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/heineken_lata.png" class="card-img-top" alt="..." height="290">
              <div class="card-body">
                <h5 class="card-title">Lata Heineken</h5>
                <p class="card-text">Precio: $200</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/schneider_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata schneider</h5>
                <p class="card-text">Precio: $300</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 18rem; height:12cm;" data-aos="flip-up" data-aos-duration="1500">
              <img src="../assets/imperial_lata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lata Imperial</h5>
                <p class="card-text">Precio: $400</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>

          </div>
          
        </article>
      </section>

      <!-- Fin de la lista de bebidas-->

  <footer class="footer" id="foot">
    <aside class="footer__contacto">
      <h4>Nuestras redes sociales</h4>
      <img src="../assets/instagram_logo.png" alt="" height="60" />
      <img src="../assets/facebook_logo.png" alt="" height="60" />
      <img src="../assets/whatsapp_logo.png" alt="" height="53" />
    </aside>
    <a href="#head" class="footer__contacto--linkarriba">Ir arriba</a>
  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>