<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css" />
  <title>Labulne-Productos</title>
</head>

<body class="bg">
  
  <header class="cab" id="head">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/logo1.png" alt="logo_negocio" width="100" height="80"
            class="cab__nav__menu__imagen" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cervezas.html">Cervezas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./destilados.html">Destilados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
          </ul>
          <form class="d-flex search_bar" role="search">
            <input class="form-control mx-1" type="search" placeholder="Busca un producto" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- Inicio de la lista de bebidas -->

    <div class="prod">
      <section class="prod__bebidas">
        <h2>Bebidas</h2>
        <article class="prod__bebidas__cervezas">
          <h3>Cervezas</h3>
          <ul class="prod__bebidas__flex">
            <li>
              <h4>Quilmes</h4>
              <img src="../assets/quilmes_lata.png" alt="cerv1" width="200" height="200" />
              <p>$100</p>
              <section><button>Comprar</button></section>
            </li>
            <li>
              <h4>Heineken</h4>
              <img src="../assets/heineken_lata.png" alt="cerv2" width="150" height="200" />
              <p>$200</p>
              <section><button>Comprar</button></section>
            </li>
            <li>
              <h4>Schneider</h4>
              <img src="../assets/schneider_lata.png" alt="cerv3" width="200" height="200" />
              <p>$300</p>
              <section><button>Comprar</button></section>
            </li>
            <li>
              <h4>Imperial</h4>
              <img src="../assets/imperial_lata.png" alt="cerv4" width="200" height="200" />
              <p>$400</p>
              <section><button>Comprar</button></section>
            </li>
          </ul>
        </article>
        <h4 class="textocolor">OFERTA</h4>
      </section>

      <!-- Fin de la lista de bebidas-->

      <!-- Inicio de la lista de comestibles/snacks -->

      <section class="prod__comestibles">
        <h2>Comestibles</h2>
      </section>

      <!-- Fin de la lista de comestibles/snacks -->
    </div>
  </main>

  <footer class="footer" id="foot">
    <aside class="footer__contacto">
      <h4>Nuestras redes sociales</h4>
      <img src="../assets/instagram_logo.png" alt="" height="60" />
      <img src="../assets/facebook_logo.png" alt="" height="60" />
      <img src="../assets/whatsapp_logo.png" alt="" height="53" />
    </aside>
    <a href="#head" class="footer__contacto--linkarriba">Ir arriba</a>
  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
</body>

</html>