<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Este es el sitio web del almacen de bebidas Labulne,donde se encuentran todos sus productos">
  <meta name="keywords" content="BEBIDAS, VINO, CERVEZA, ALMACEN, TUCUMAN, ARGENTINA">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css" />
  <title>Labulne-Sobre nosotros</title>
</head>

<body class="bg">
  <header class="cabDE" id="head">
    <h1 class="titulo">Almacen de bebidas</h1>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/logo1.png" alt="logo_negocio" width="100" height="80"
            class="cab__nav__menu__imagen" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./donde_encontrarnos.html">Donde encontrarnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cervezas.html">Cervezas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./destilados.html">Destilados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
          </ul>
          <form class="d-flex search_bar" role="search">
            <input class="form-control mx-1" type="search" placeholder="Busca un producto" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <!-- Inicio de la informacion del negocio -->
  <main class="main__dondeencontrarnos">
    <aside class="texto__mapa">
      <p><strong> Nos encontramos en la provincia de Tucuman, en la localidad de San Miguel de Tucuman</strong> </p>
      <p> Barrio Modelo</p>
      <p>Eduardo Bulnes 1629</p>
    </aside>

    <aside class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1058.7552892642082!2d-65.24086355190755!3d-26.80131032983894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225d00ce85eb6b%3A0xb69a9f33ac5cb946!2sEduardo%20Bulnes%201629%2C%20T4000%20San%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n!5e0!3m2!1ses-419!2sar!4v1661453064344!5m2!1ses-419!2sar"
        width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </aside>
    <div class="galeria">
      <div class="galeria__item">
        <a target="_blank" href="#">
          <img src="../assets/local1.jpg" alt="Cinque Terre" width="300" height="300">
        </a>
        <
      </div>
      <div class="galeria__item">
        <a target="_blank" href="#">
          <img src="../assets/local2.jpg" alt="Forest" width="300" height="300">
        </a>
      </div>

      <div class="galeria__item">
        <a target="_blank" href="#">
          <img src="../assets/local3.jpg" alt="Northern Lights" width="300" height="300">
        </a>
      </div>

      <div class="galeria__item">
        <a target="_blank" href="#">
          <img src="../assets/local4.jpg" alt="Mountains" width="300" height="300">
        </a>
      </div>
    </div>
  </main>


  <!-- Fin de la informacion del negocio -->

  <footer class="footerDE text-center text-white">
    <div class="container p-3 ">
      <div class="mb-3">
        <!-- Facebook -->
        <a class="btn btn-outline-warning btn-floating m-1" href="" target="_blank" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-warning btn-floating m-1" href="" target="_blank" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-warning iconbtn-floating m-1" href="" target="_blank" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Whatsapp -->
        <a class="btn btn-outline-warning iconbtn-floating m-1" href="" target="_blank" role="button"><i
            class="fab fa-whatsapp"></i></a>
      </div>
      <div class="mb-1">
        <p>
          Sitio web del almacen de bebidas Labulne
        </p>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-1 footerBottom">
      © 2022 Copyright:
      <a class="text-white" href="index.html">Labulne.com</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Fin del footer -->

  </div>
  <!-- Body Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/4ec5a32e2a.js" crossorigin="anonymous"></script>
</body>

</html>