<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Labulne/contacto</title>
</head>

<body class="bg">
    <h1 class="tit">almacen de bebidas</h1>
    <header class="cab" id="head">
        <a href="../index.html">
            <img src="../assets/logo1.jpg" alt="logo_negocio" width="100" height="80"
                class="cab__nav__menu__imagen" /></a>
        <nav class="cab__nav">
            <ul class="cab__nav__menu">
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="./sobre_nosotros.html">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="./productos.html">Productos</a>
                </li>
                <li><a href="./locales.html">Locales</a></li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
<main>
    <!-- Inicio del mapa -->

    <section class="mapa">
        Mapa de la ciudad
    </section>
</main>
    <!-- Fin del mapa -->

    <footer class="footer" id="foot">
        <aside class="footer__contacto">
            <h4>Nuestras redes sociales</h4>
            <img src="../assets/instagram_logo.png" alt="" height="60" />
            <img src="../assets/facebook_logo.png" alt="" height="60" />
            <img src="../assets/whatsapp_logo.png" alt="" height="53" />
        </aside>
        <a href="#head" class="footer__contacto--linkarriba">Ir arriba</a>
    </footer>

</body>